extends layout 

block content 
    h1=title

    form(action="/books/new", method="POST")
        p 
            label(for='tirtle') Title 
            input#title(name='title' type='text' value=book.title)
        p 
            label(for='author') Author 
            input#author(name='author' type='text' value=book.author) 