extends layout

block conrtent
    if(book.title)
        h1=book.title 
else
    h1 Update Book 

form(method="POST")

p 
    label(for='title') Title 
    input#title(name='title' type='text' value=book.title)